.container-card-porto{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.card {
    margin: 2rem 1rem 2rem 1rem;
    border: none;
    border-radius: 10px;
    box-shadow: -2px 1px 8px 1px lightgrey; 
  }
  
  .portfolio-card__image {
    max-height: 13rem;
    border-radius: 10px;
  }
  
  .portfolio-card__title {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
  }
  
  .portfolio-card__category {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
  }
  
  .portfolio-card__category__offices {
    color: red;
  }
  
  .portfolio-card__category__industrial {
    color: blue;
  }
  
  .portfolio-card__category__retail {
    color: green;
  }
  
  .portfolio-card__text {
    font-family: 'Abel', sans-serif;
    font-size: 1rem;
  }
  
  .portfolio-card__stage {
    color: white;
    text-transform: uppercase;
    padding: 6px;
    font-family: 'Barlow Condensed', sans-serif;
  }
  
  .portfolio-card__stage__icon {
    margin-right: 5px;
  }
  
  .portfolio-card__stage__complete {
    background-color: green;
  }
  
  .portfolio-card__stage__construction {
    background-color: red;
  }
  
  .portfolio-card__stage__planning {
    background-color: lightblue;
  }
  
  .portfolio-card__link {
    font-family: 'Barlow Condensed', sans-serif;
    text-transform: uppercase;
    font-size: 0.8rem;
    color: grey;
    text-decoration: underline;
    transition: 0.3s;
  }
  
  .portfolio-card__link:hover {
    color: black;
  }